.container{
    margin: 16px 0px;
    text-align: right;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.container p{
    margin: 0px;
    font-size: x-large;
}

.container hr{
    border-color: #fc3636;
    box-shadow: 0 -8px 20px 1px #fc3636;
    margin: 0px;
    width: 240px;

}

.container h5{
    color: #fc3636;
    margin: 0px;
    padding: 5px 0px;
}