Link{
    color: red;
}

a{
    color: white;
}

body{
    background-color: #124990;
    color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(218, 218, 218, 0.521);
    opacity: 1; /* Firefox */
  }