Link{
    color: red;
}

a{
    color: #404244;
}

body{
    background-color: #ffffff;
    color: #404244;
    margin: 0px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #404244a4;
    opacity: 1; /* Firefox */
  }