.mainContainer {
  display: flex;
  flex-direction: column;
}

.topInfoPanel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.twitchThumbnail {
  margin-left: 0px;
  margin-bottom: 0px;
}

.detailInfoBox {
}

.infoPanels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
}

.generalGameInfo {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.generalGameInfo h2 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.generalGameInfo p {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: medium;
}

.gameInfoChartContainer {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 30px;
}

.gameInfoChartWrapper {
  position: relative;
  overflow: hidden;
}

.innertChartWrapper {
  position: relative;
  height: 380px;
  width: 125%;
}

.gameInfoChart {
  position: absolute;
  left: -260px;
}

.chartRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.chartWrapper {
  width: 50%;
}

@media screen and (max-width: 1025px) {
  .twitchThumbnail {
    margin-left: 0px;
    margin-bottom: 0px;
    width: fit-content;
  }

  .topInfoPanel {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    flex-wrap: wrap;
    align-items: center;
  }

  .detailInfoBox {
    width: 100%;
  }

  .chartWrapper {
    width: 100%;
  }

  .chartRow {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .innertChartWrapper {
    position: relative;
    height: 380px;
    width: 138%;
  }
}

@media screen and (max-width: 820px) {
  .innertChartWrapper {
    position: relative;
    height: 380px;
    width: 150%;
  }

  .gameInfoChart {
    position: absolute;
    left: -250px;
  }
}

@media screen and (max-width: 663px) {
  .innertChartWrapper {
    position: relative;
    height: 380px;
    width: 160%;
  }

  .gameInfoChart {
    position: absolute;
    left: -250px;
  }
}

@media screen and (max-width: 585px) {
  .innertChartWrapper {
    position: relative;
    height: 380px;
    width: 168%;
  }

  .gameInfoChart {
    position: absolute;
    left: -250px;
  }
}

@media screen and (max-width: 500px) {
  .innertChartWrapper {
    position: relative;
    height: 380px;
    width: 180%;
  }

  .gameInfoChart {
    position: absolute;
    left: -250px;
  }
}

@media screen and (min-width: 1415px) {
  .innertChartWrapper {
    position: relative;
    height: 380px;
    width: 115%;
  }

  .gameInfoChart {
    position: absolute;
    left: -250px;
  }
}
