.topInfoPanel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.detailInfoBox{
  margin: 0px 80px;
  flex-grow: 2;
}

.infoPanels{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.generalGameInfo {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.generalGameInfo p {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: medium;
}

.gameInfoChartContainer {
  flex-grow: 1;
}

.gameInfoChart {
  height: 380px;
}
