.mainCharts {
  display: flex;
  justify-content: space-evenly;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.contentRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 70px;
}

.paragraphWrapper{
  width: 50%;
}

.contentRow h1 {
  display: flex;
  justify-content: center;
  margin: 30px, 0px;
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 5em;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: -2px 1px 1px #919191, -2px 0px 1px #919191, -2px 3px 1px #919191,
    -2px 4px 1px #919191, -2px 5px 1px #919191, -2px 6px 1px #919191,
    -2px 7px 1px #919191, -2px 8px 1px #919191, -2px 9px 1px #919191,
    -2px 10px 1px #919191, -2px 18px 6px rgba(16, 16, 16, 0.4);
}

.chartWrapper{
  width: 70%;
  margin-bottom: 70px;
}
/*
@media screen and (max-width: 1000px) {
    .mainCharts{
        display: block;
    }

    .chartWrapper{
        width: 100%;
    }
}
*/

@media screen and (orientation: portrait) {
 
}
