.linkList{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

.linkListItem div{
   position:relative;
   display: inline;
   float: left;
   padding: 16px;
}

.container{
   /*background-color: #092346;*/
   background-color: #262729;
   box-shadow: 0 8px 8px -10px rgb(0 0 0 / 15%);
}