ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

li div{
   position:relative;
   display: inline;
   float: left;
   padding: 16px;
}

.container{
   background-color: #092346;
}