.bar {
  vertical-align: top;
  text-align: center;
  padding: 0 5px 5px;
  min-width: 250px;
  border: none;
  background: 0 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  outline: none;
  font-size: 26px;
}

.container {
  display: flex;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}
