.bar {
  text-align: center;
  padding-bottom: 5px;
  min-width: 150px;
  border: none;
  background: 0 0;
  border-bottom: 1px solid #404244a4;
  color: white;
  outline: none;
  font-size: 25px;
  max-width: 250px;
}

.container {
  display: flex;
  justify-content: center;
  margin-left: 36px;
}

#Search::-webkit-search-cancel-button {
  visibility: hidden;
}

input[type="search" i]::-webkit-search-cancel-button {
  visibility: collapse;
}

.container button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #75797ca4;
  opacity: 1; /* Firefox */
}

@media screen and (orientation: portrait) {
  
}
