.bar {
  text-align: center;
  padding-bottom: 5px;
  padding-left: 25px;
  min-width: 150px;
  border: none;
  background: 0 0;
  border-bottom: 1px solid #404244a4;
  color: #404244a4;
  outline: none;
  font-size: 25px;
  max-width: 250px;
  margin-left: 60px;
}

.container {
  display: flex;
  justify-content: center;
}

#Search::-webkit-search-cancel-button {
  visibility: hidden;
}

input[type="search" i]::-webkit-search-cancel-button {
  visibility: collapse;
}

.container button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

@media screen and (orientation: portrait) {
  .img {
    width: 10px;
  }
}
